<MarketplaceDetails>
  <SmallAppTile>BaconographyPhoneStoreIcon.png</SmallAppTile>
  <ScreenShots>frontpage.png;light_theme.png;album_view.png;comments.png;temp_subreddit.png;subreddit_selector.png;login.png;unobtrusive_menu.png;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>