<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.5" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="portable-win+net45+wp80" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="wp80" />
  <package id="Portable.MvvmLightLibs" version="4.1.24-beta5" targetFramework="wp80" />
  <package id="SharpGIS.GZipWebClient" version="1.4.0.0" targetFramework="wp80" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="wp80" />
</packages>